.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.card {
  margin-bottom: 1rem;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* star.css */
.star {
  cursor: pointer;
  color: gray;
}

.star.gold {
  color: gold;
}

.star.silver {
  color: silver;
}